
  
  
  <div class="modal fade" id="ChatBot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content closeModel" id="closeModel">
          <h6><i id="chatdone">Chat Done &#9829;</i><i class="close" data-dismiss="modal" id="close" class="fas fa-times"></i></h6>
     </div>
      <section class="modal-content"> 
        <div class="card">
            <div id="chat_header" class="card-title">
              <div class="d-flex flex-row">
                  <div class="p-2 pull-left rounded-circle" id="bot_image"></div>
                  <span class="p-2 h2" id="botname">IGenie</span>
                  <span>
                     <button type="button" class="btn btn-danger" (click)="chatlogs.innerHTML = ''" id="chatclear">Clear chat</button>
                  </span>
                 </div>
             </div>
             <br/>
            <div 
            class="card-body" id="chatlogs" #chatlogs> 
            
            </div>
            <hr/>
            <div id="chat_footer">
              <div class="input-bar">
                  <div class="input-bar-item width100">
                    <form #inputMsg="ngForm" (ngSubmit)="onSubmit()">
                        <div class="input-group">
                          <input required placeholder="Enter Message here" (ngModelChange)="Empty()" type="text" class="form-control width100 rounded" name="chatModal.inputQuery" [(ngModel)]="chatModal.inputQuery" id="input-text">
                          <span *ngIf="sendButton==true" class="input-group-btn" id="input-button">                          
                              <!-- <button type="submit" class="btn btn-danger btn-block rounded" >
                                  <i class="fas fa-paper-plane" aria-hidden="true"></i>
                              </button> -->
                          </span>
                          <span *ngIf="sendButton==false" class="input-group-btn">                          
                              <!-- <button type="submit" class="btn btn-danger btn-block rounded" disabled>
                                  <i class="fas fa-paper-plane" aria-hidden="true"></i>
                              </button> -->
                          </span>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>
  <div *ngIf="askLogin">
    <form class="form">
      Login to CloudHub
      <p class="field">
        <input type="email" class="form-control" id="username" placeholder="Username or email" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}">
      </p>
      <p class="field">
          <input type="password" class="form-control" id="password"  placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </p>        
        <button type="submit" class="btn btn-primary" (click)="onCredentialsSubmit()">Submit</button>
       
        <button type="skip" class="btn btn-primary" (click)="onSkip()" >skip </button>
      
    </form></div>
    
  
  
  <router-outlet></router-outlet>
  
